* {
    margin: 0;
    padding: 0;
}

$width: 600px;
$height: 414px;


@mixin full-width {
    width: 100%;
    height: 100%;
}
img {
    max-width:100%;
    height:auto;
}
.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../images/bg.jpg'); // Fallback for browsers without video support
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

// Video Background Styles
#bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
    object-fit: cover;
    background-image: url('../images/bg.jpg'); // Fallback while video loads
    background-size: cover;
    background-position: center;
}


.scene {
    margin:0 auto;
    width: $width;
    height: $height;
    perspective: 1000px;
    max-width: 95%; // Prevent overflow on smaller screens
    
    .envelop {
        @include full-width();
        position: relative;
        transform-style: preserve-3d;
        
       // transition: transform 1s ease;
        &__face {
            @include full-width();
            position: absolute;
            backface-visibility: hidden;
            &--front{
                background-color: #d6b67d;
            }
            &--back{
                background-color: #d6b67d;
               // background-image: url('../images/envelope-back-transparent.png');
               // background-size: 100% auto;
               // background-repeat: no-repeat;
                transform: rotateY( 180deg );

                .cover {
                    width: 100%;
                    height: 70%;
                   // background: red;
                    background-image: url('../images/cover-close.png');
                    background-size: 100% auto;
                    background-repeat: no-repeat;
                    /* transform: rotateX(180deg); */
                    backface-visibility: hidden;
                    transform-style: preserve-3d;
                    z-index: 9;
                    transform-origin: top;
                    position:relative;
                    bottom:-2px;
                   
                }
                
                .cover::after {
                    content: "";
                    background-image: url('../images/cover-open.png');
                    background-size: 100% auto;
                    background-repeat: no-repeat;
                    background-position: bottom left;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    backface-visibility: hidden;
                    transform: rotateX(180deg);
                }
                img#bg {
                    position: absolute;
                    bottom: 0;
                    z-index: 5;
                }
                img#letter {
                    position: absolute;
                    top: -17%;
                    transform: rotate(90deg);
                    width: 66%;
                    left: 17%;
                    z-index: 2;
                }


            }
        }
        
    }
}

// Responsive Design - Media Queries
// Tablets and below (landscape)
@media (max-width: 768px) {
    .scene {
        width: 90vw;
        height: calc(90vw * 0.69); // Maintain aspect ratio (414/600 = 0.69)
        perspective: 800px;
    }
}

// Mobile devices (portrait)
@media (max-width: 576px) {
    .scene {
        width: 95vw;
        height: calc(95vw * 0.69);
        perspective: 600px;
    }
    
    .wrapper {
        background-attachment: scroll; // Better performance on mobile
    }
}

// Very small devices
@media (max-width: 380px) {
    .scene {
        width: 98vw;
        height: calc(98vw * 0.69);
        perspective: 500px;
    }
}