RewriteEngine On
#RewriteBase /thiep/images/envelop-front/
# If .jpg file doesn't exist, route to index.php?love=filename
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)\.mp4$ index.php?love=$1 [L,QSA]
